@import url(fonts.css);
@import url(reset.css);
@import url(variables.css);
@import url(animations.css);



body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: var(--bg-body);
    overflow-y: scroll;
    scroll-behavior: smooth;
}

header {
    position: relative;
    width: 100%;
    height: 10vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background: var(--primary);
    z-index: 3;
}

.logo{
    margin-left: 50px;
}

.menu{
    display: none;
}

ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
ul li {
    padding: 15px;
}

ul li.active a{
    background: var(--secondary);
    padding: 15px;
    border-radius: 10px;
    pointer-events: none;
}
ul li:hover a{
    background: var(--tertiaire);
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
}

ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto';
    color: var(--fcw);
    font-weight: 700;
    letter-spacing: 2px;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}



/* HERO */




.hero{
    flex: 2;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    object-fit: cover;
}
.hero .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    z-index: 1;
}

.hero-text{
    padding: 2rem;
    background: rgba( 41, 40, 45, 0.8 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 10px 10px 0 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.hero-text h1 {
    font-size: 1.5em;
    color: var(--tertiaire);
    text-transform: uppercase;
    font-family: 'Roboto';
    font-weight: 800;
    /* text-shadow: var(--fcw) 1px 0 10px; */
    letter-spacing: 4px;
    margin-bottom: 10px;
} 

.hero-text h2, 
.hero-text h3 {
    color: var(--fcw);
    font-size: 1.3em; 
    font-family: 'Roboto';
    letter-spacing: 2px;
}
.cta {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    z-index: 1;
}


.cta a {
    width: auto;
    margin-left: 15px;
    align-self: flex-end;
    text-decoration: none;
    font-size: 1.5em;
    font-family: 'Roboto';
    background: var(--secondary);
    padding: 1.1em 1.5em;
    border-radius: 10px 10px 10px 0;
    color: var(--fcw);
    
}





/* #############################
#                              #
#           footer             #
#                              #
############################# */



footer {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background: var(--primary);
    color: var(--fcw);
    font-family: 'Roboto';
    letter-spacing: 2px;
}

.left,
.right {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

}

.left {
    margin-left: 20px;
}

.right{
    margin-right: 20px;
}

.left a,
.right a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2em;
    padding: 10px;
    color: var(--fcw);
}

.left a:hover,
.right a:hover{
    color: var(--tertiaire);
}
.middle {
    font-size: 0.8em;
    margin-left: 20px;
}

.middle a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    color: var(--tertiaire);
}




@media screen and (max-width: 900px){
    
    .logo {
        transform: scale(0.5);
        margin: 0;
    }

    nav{display: none;}

    .menu{
        position: absolute;
        top: 0;
        display: block;
        width: 100%;
        z-index: 3;
    }
    .toggle {
        position: relative;
        background: none;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        overflow: hidden;
        transition: .7s cubic-bezier(0.075, 0.82, 0.165, 1);
        z-index: 3;
    }
    .toggle span {
        position: absolute;
        width: 20px;
        height: 4px;
        background: #fefefe;
        border-radius: 4px;
        transition: .7s;
    }
    .toggle span:nth-child(1) {
        transform: translateY(-7px);
        width: 20px;
      }
    
      .toggle.active span:nth-child(1) {
        transform: translateY(0) rotate(225deg);
      }
      .toggle span:nth-child(2) {
        transform: translateY(7px);
        width: 20px;
      }
      .toggle.active span:nth-child(2) {
        width: 20px;
        transform: translateY(0) rotate(135deg);
      }
    
      .toggle.active span:nth-child(3) {
        transform: translateX(60px);
      }
    
      .menu .contenu-menu {
        position: absolute;
        top: -2000px;
        left: 0;
        background: var(--primary);
        width: 100%;
        height: 100vh;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        align-items: center;
        transition: 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
        z-index: 2;
      }
      .menu.open .contenu-menu {
        top: 0;
        transition: 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
      }
      ul {
          flex-flow: column;
          justify-content: flex-start;
      }
      .cta {
        flex-flow: column;
      }
      
    .hero-text{
        font-size: 0.7em;
    }
      
      footer {
          height: 20vh;
      }


}