@import url(fonts.css);
@import url(reset.css);
@import url(variables.css);
@import url(animations.css);


body{
    display: flex;
    min-height: 100vh;
    background: var(--bg-body);
}



.navigation {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background: var(--font-color);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.navigation ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.navigation ul li {
    margin: 20px;
}

.navigation ul li.desk{
    display: none
}

.navigation ul li a{
    display: flex;
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigation ul li a .icon{
    width: 1.2em;
    filter: invert(9);
}

.navigation ul li a .text{
    font-size: 0.9em;
    color: var(--bg-body);
    font-family: 'Poppins';
    transition: .5s;
}

.navigation ul li:hover a .text {
    color: var(--primary);
}


.indicator{
    display: none;
}



@media screen and (max-width: 900px){
    
    .navigation{
        position: sticky;
        top: 100%;
        width: 100%;
        height: 70px;
        background: var(--font-color);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }
    
    .navigation ul {
      display: flex;
      justify-content: initial;
      align-items: initial;
       width: 350px; 
    }
    
    .navigation ul li {
        position: relative;
        margin: 0;
        list-style: none;
        width: 70px;
        height: 70px;
        z-index: 1;
    }

    .navigation ul li.desk{
        display: block;
    }
    
    .navigation ul li a{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
        font-weight: 500;
    }
    
    .navigation ul li a .icon{
        position: relative;
        display: block;
        line-height: 75px;
        width: 1.5em;
        text-align: center;
        filter: invert(9);
        transition: .5s; 
    }
    
    
    .navigation ul li.active a .icon{
        transform: translateY(-35px );
    }
    
    
    
    .navigation ul li a .text {
        font-family: 'Poppins';
        position: absolute;
        color: var(--bg-body);
        font-weight: 600;
        font-size: 0.8em;
        letter-spacing: 0.05em;
        transform: translateY(20px);
        transition: .5s;
        opacity: 0;
    }
    
    .navigation ul li.active a .text {
        opacity: 1;
        transform: translateY(10px);
    }
    
    .indicator {
        display: block;
        position: absolute;
        top: -50%;
        width: 70px;
        height: 70px;
        background: var(--primary);
        border-radius: 50%;
        border: 6px solid var(--bg-body);
        transition: .5s;
    }
    
    .indicator::before{
        content: '';
        position: absolute;
        top: 50%;
        left: -22px;
        width: 20px;
        height: 20px;
        border-top-right-radius: 20px;
        box-shadow: 1px -10px 0 0 var(--bg-body);
    }
    .indicator::after{
        content: '';
        position: absolute;
        top: 50%;
        right: -22px;
        width: 20px;
        height: 20px;
        border-top-left-radius: 20px;
        box-shadow: -1px -10px 0 0 var(--bg-body);
    }
    
    .navigation ul li:nth-child(1).active ~ .indicator{
        transform: translateX(calc(70px * 0));
    }
    .navigation ul li:nth-child(2).active ~ .indicator{
        transform: translateX(calc(70px * 1));
    }
    .navigation ul li:nth-child(3).active ~ .indicator{
        transform: translateX(calc(70px * 2));
    }
    .navigation ul li:nth-child(4).active ~ .indicator{
        transform: translateX(calc(70px * 3));
    }
    .navigation ul li:nth-child(5).active ~ .indicator{
        transform: translateX(calc(70px * 4));
    }

}